
@media screen and (min-width: 480px) {

	/********************
	TWO COLUMN LAYOUT
	*********************/
	
  #primary {
    width: 45%;
    float: left;
  }

  #secondary {
    width: 45%;
    float: right;
  }
}
	/***********************
	FOR LARGER SCREEN SIZES
	************************/

@media screen and (min-width: 660px) {
  nav {
    background: gray;
    float: none;
    width: 100%;
    padding: 0 5px 0 5px;
  }

  #photos li a p {
    font-size: 20px;
  }

  