/********************
BASIC
*********************/
body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  color: #2f4f4f;
  font-size: .9em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

.HOME {
  margin: -20px 0 10px 0;
  /* Adjusts gap between lines */;
}

.HOME h3 {
  padding-left: 15px;
}




/********************
HEADING
*********************/
header {
  float: left;
  margin: 0 0 15px 0;
  padding: 5px 0 0 5px;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1, h2, h3 {
  color: darkblue;
}

h1, h2 {
  font-family: 'Arvo', sans-serif;
  font-weight: normal;
   /* Removes default capitlization*/
  line-height: 1.15em;
  overflow-wrap: break-word;
}

h1 {
  margin: 10px 0;
  font-size: 1.5em;
  padding: 3px;
}

h2 {
  margin: 0px 0 10px 0;
  /* Adjusts gap between lines */
  font-size: .85em;
  font-style: italic;
  padding-bottom: 3px;
}




/********************
NAVIGATION
*********************/
nav {
  text-align: center;
  padding: 5px 0;
  margin: 5px 0 0 0;
}

nav ul {
  list-style: none;
 /* This removes bullet points from the list */
  margin: 2px 0 0;
  padding: 5px 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 5px;
  font-size: 90%;
}



/********************
FOOTER
*********************/
footer {
  font-size: .75em;
  padding: 10px 0;
  margin: 10px 0 0;
  padding-top: 30px;
  clear: both;
  text-align: center;
}

.footer-icons {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 15%;
}




/********************
Page: HOME
*********************/
section h3 {
  text-align: center;
  list-style: none;
  border-radius: 5px;
  margin: 0 auto .01px;
}

section ul li {
  text-align: center;
  list-style: none;
  border-radius: 5px;
  margin: 0 auto .01px;
}

section ul li a {
  max-width: 100%;
  margin: 0 auto .01px;
  border-radius: 5px;
  text-align: center;
}



/********************
Page: ADOPTABLE PETS
*********************/

#photos {
  margin: 0;
  padding: 0;
  list-style: none;
}

#photos li {
  float: left;
 /* text here flows around the image */
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#photos li a p {
  margin: 0;
  padding: 5%;
  font-size: 11px;
  color: darkblue;
}

/********************
Page: ABOUT OUR SHELTER
*********************/
section h3 {
  margin-top: 10px 0 10px 0;
  padding-top: 20px;
}




/********************
Page: CONTACT
*********************/
.contact-info {
  color: #2f4f4f;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  text-align: left;
  color: blue;
  font-size: 1em;

}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/email.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
  color: blue;
}

.gen-info li {
  color: #ff0000;
  margin: 1em 0 1em -2em;
  font-size: .9em;
  font-style: italic;
  text-align: left;
  font-weight: bold;
}




/********************
COLORS
*********************/
/* Body portion of the site */
body {
  background-color: #fff;
  color: #999;
}

/* Dark blue header with white text for stronger contrast*/
header {
  background: darkblue;
  border-color: red;
  color: #fff;
}

/*Nav link*/
nav a, nav a:visited {
  color: #fff;
}

/*Logo styling*/
h1, h2 {
  color: #fff;
}

/*Links*/
a, a:visited {
  color: green;
}

/* Nav background on mobile devices */
nav {
  background: red;
  padding: .05px;
}

/*Selected nav link with hover*/
nav a.selected, nav a:hover {
  color: darkblue;
}

p {
  color: #2f4f4f;
}

